
.top_container
  %h2 みんなの想い




.container
  .row
    .col-md-3
      .left-sidebar
        %ul.nav.flex-column
          
          %li.nav-item
            = link_to root_path do
              = image_tag("home.jpeg", class: "home-image")
              %span サイトTOP
          %li.nav-item
            = link_to tweets_path do
              = image_tag("home.jpeg", class: "home-image")
              %span タイムライン
          %li.nav-item
            = link_to profile_path do
              = image_tag("pen.jpeg", class: "pen-image")
              %span プロフィール
        -#   %li.nav-item= link_to 'ホーム', root_path
        -#   %li.nav-item= link_to 'プロフィール', profile_path
      .new_tweet_container
        = link_to new_tweet_path do
         
          .tweet_new
            = image_tag("pen2.jpeg", class: "pen2-image")
            %p 新しいツイート
    
    .col-md-7
      

      .tweet_container
        %ul
        - @tweet.errors.full_messages.each do |message|
          %li= message
        = form_with(model: @tweet, local: true, multipart: true, html: { class: 'tweet-form' }) do |form|
          .field
            -# = form.label :content
            = form.text_area :content, required: true, class: 'tweet-text-area', placeholder: "何をつぶやく？"
          .field
            -# = label_tag 'images', '画像を選択', class: 'tweet-image-label'
            = form.file_field :images, multiple: true, id: 'tweet_image', class: 'tweet-image-upload'
            %p#image-name 
          .actions 
            = form.submit "ツイートする", class: 'tweet-submit-btn'

        .tweet-index
        - @tweets.order(created_at: :desc).each do |tweet|
          = link_to tweet_path(tweet) do
            .tweet#tweet-show{data: {tweet_id: @tweet.id}}
              .user-info
                = image_tag tweet.user.avatar_image, class: 'tweet_avatar_image'
                
                %h2= tweet.author_name
                %p= tweet.user.email
              .content
                %p= tweet.content
                - if tweet.images.attached?
                  - tweet.images.each do |image|
                    = image_tag image
              .reactions      
                = link_to '詳細を見る', tweet_path(tweet), class: 'tweet-detail-link'
              
                = link_to 'Reply', new_tweet_reply_path(tweet), class: 'tweet-reply-btn' 
                -# = link_to 'Reply', new_tweet_reply_path(@tweets), class: 'tweet-reply-btn' 
                -# = link_to 'Like', tweet_likes_path(tweet), method: :post, class: 'tweet-like-btn'
                .tweet_reactions
                  - if user_signed_in?
                    .tweet_heart.hidden.active-heart
                      = image_tag 'heart-active.svg'  
                    .tweet_heart.hidden.inactive-heart
                      = image_tag 'heart.svg'  
                    .tweet_heart_count 
                      = @tweet.like_count

            
                - if current_user == tweet.user
                  = link_to '削除する', tweet_path(tweet), method: :delete, data: { confirm: '本当に削除してよろしいですか?' }, class: 'tweet-delete-btn'

        
        
    .col-md-2
      .right-sidebar
        %p おすすめユーザー
        -# - @recommended_users.each do |user|
        -#   = link_to user.name, user_path(user)
        %p SNS情報
        %p ここに情報を表示
    
      .right-middle-sidebar
        %p 検索


= javascript_pack_tag 'tweet' 
