.tweet_container
  %ul
    - @tweet.errors.full_messages.each do |message|
      %li= message
  = form_with(model: @tweet, local: true, multipart: true) do |form|
    .field
      = form.label :content
      = form.text_area :content, required: true
    .field
      = form.label :images
      = form.file_field :images, multiple: true
    .actions
      = form.submit "ツイートする"