= form_with model: @tweet, local: true do |form|
  .field
    = form.label :content
    = form.text_area :content, required: true
  .field
    = form.label :image
    = form.file_field :image
  .actions
    = form.submit "ツイートする"