 .tweet_container
        %ul
        - @tweet.errors.full_messages.each do |message|
          %li= message
        = form_with(model: @tweet, local: true, multipart: true, html: { class: 'tweet-form' }) do |form|
          .field
            -# = form.label :content
            = form.text_area :content, required: true, class: 'tweet-text-area', placeholder: "何をつぶやく？"
          .field
            -# = label_tag 'images', '画像を選択', class: 'tweet-image-label'
            = form.file_field :images, multiple: true, id: 'tweet_image', class: 'tweet-image-upload'
            %p#image-name 
          .actions
            -# = link_to 'Reply', new_tweet_reply_path(tweet_id: @tweet.id), class: 'tweet-reply-btn'
            
            = link_to 'Reply', new_tweet_reply_path(@tweet), class: 'tweet-reply-btn'

            -# = link_to 'Like', like_tweet_path(@tweet), method: :post, class: 'tweet-like-btn'
            = form.submit "ツイートする", class: 'tweet-submit-btn'

        .tweet-index
        - @tweets.order(created_at: :desc).each do |tweet|
          .tweet
            .user-info
              = image_tag tweet.user.avatar_image, class: 'tweet_avatar_image'
              
              %h2= tweet.author_name
              %p= tweet.user.email
            .content
              %p= tweet.content
              - if tweet.images.attached?
                - tweet.images.each do |image|
                  = image_tag image

            - if current_user == tweet.user
              = link_to '削除する', tweet_path(tweet), method: :delete, data: { confirm: '本当に削除してよろしいですか?' }

        