!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ピアSNS
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    -# = %csrf_meta_tags 
    -# = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    %head
    %link{rel: "stylesheet", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"}
    %script{src: "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{src: "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}

    -# = javascript_importmap_tags
 
  %header.header
    .header_logos
      .header_pagetitle
        .pagetitle
          = link_to 'ホームtop', root_path
      
      - if user_signed_in?
        .dropdown
          = image_tag current_user.avatar_image, class: 'header_avatar dropbtn'
          .dropdown-content
            = link_to 'プロフィール', profile_path
            -# = link_to 'お気に入り', favorites_path
            = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
      - else
        = link_to 'ログイン', new_user_session_path, class: 'header_loginBtn'
    
    .sitetitle 
      %h1 ピアサポートSNS

    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value


    = yield
